/*
styles for facebook box...

info:
http://wiki.developers.facebook.com/index.php/Fb:fan
http://wiki.developers.facebook.com/index.php/Fan_Box
    
    Note: To provide you with better performance, we cache your stylesheet. If you update your stylesheet, you should use a cachebreaker in the URL to the stylesheet, typically by appending a version number to the .CSS file extension, as in http://www.example.com/my.css?2. 

*/

body {width:290px;height:547px;border:0;}

div.app_content_312507100202, /* = ID */
div.fan_box,
div.full_widget {width:290px;height:547px;border:0;background:#fff;}

div.name_block span.name {color:#000;}
div.name_block a {color:#000;}

#facebook .connect_widget .page_stream img {
	height: auto !important;
}